In [16]:
import numpy as np
import pandas as pd

In [30]:
# Load data from CSV
oneToTen = pd.read_csv('../datasets/sampleCSV.csv')
print(type(oneToTen), oneToTen.shape)
oneToTenArray = np.array(oneToTen)
print(type(oneToTenArray), oneToTenArray)

<class 'pandas.core.frame.DataFrame'> (10, 2)
<class 'numpy.ndarray'> [[1 'a']
 [2 'b']
 [3 'c']
 [4 'a']
 [5 'b']
 [6 'c']
 [7 'a']
 [8 'b']
 [9 'c']
 [10 'a']]

In [32]:
housing = pd.read_csv('../datasets/kc_house_data.csv')
print(type(housing), housing)
housing = np.array(housing)
print(housing[:10].shape)

<class 'pandas.core.frame.DataFrame'> (21613, 21)
[[7129300520 '20141013T000000' 221900.0 3 1.0 1180 5650 1.0 0 0 3 7
  1180.0 0 1955 0 98178 47.5112 -122.257 1340 5650]
 [6414100192 '20141209T000000' 538000.0 3 2.25 2570 7242 2.0 0 0 3 7
  2170.0 400 1951 1991 98125 47.721000000000004 -122.319 1690 7639]
 [5631500400 '20150225T000000' 180000.0 2 1.0 770 10000 1.0 0 0 3 6 770.0
  0 1933 0 98028 47.7379 -122.23299999999999 2720 8062]
 [2487200875 '20141209T000000' 604000.0 4 3.0 1960 5000 1.0 0 0 5 7
  1050.0 910 1965 0 98136 47.5208 -122.39299999999999 1360 5000]
 [1954400510 '20150218T000000' 510000.0 3 2.0 1680 8080 1.0 0 0 3 8
  1680.0 0 1987 0 98074 47.6168 -122.045 1800 7503]
 [7237550310 '20140512T000000' 1225000.0 4 4.5 5420 101930 1.0 0 0 3 11
  3890.0 1530 2001 0 98053 47.6561 -122.005 4760 101930]
 [1321400060 '20140627T000000' 257500.0 3 2.25 1715 6819 2.0 0 0 3 7
  1715.0 0 1995 0 98003 47.3097 -122.32700000000001 2238 6819]
 [2008000270 '20150115T000000' 291850.0 3 1.5 1060 9711 1.0 0 0 3 7
  1060.0 0 1963 0 98198 47.4095 -122.315 1650 9711]
 [2414600126 '20150415T000000' 229500.0 3 1.0 1780 7470 1.0 0 0 3 7
  1050.0 730 1960 0 98146 47.5123 -122.337 1780 8113]
 [3793500160 '20150312T000000' 323000.0 3 2.5 1890 6560 2.0 0 0 3 7
  1890.0 0 2003 0 98038 47.3684 -122.031 2390 7570]]