In [16]:
import numpy as np
import pandas as pd

In [35]:
# Load data from CSV
oneToTen = pd.read_csv('../datasets/sampleCSV.csv')
# print(type(oneToTen), oneToTen.shape)
print("column title", oneToTen["Boo"])
oneToTenArray = np.array(oneToTen)
print(type(oneToTenArray), oneToTenArray)

column title 0    a
1    b
2    c
3    a
4    b
5    c
6    a
7    b
8    c
9    a
Name: Boo, dtype: object
<class 'numpy.ndarray'> [[1 'a']
 [2 'b']
 [3 'c']
 [4 'a']
 [5 'b']
 [6 'c']
 [7 'a']
 [8 'b']
 [9 'c']
 [10 'a']]

In [68]:
# External data like CSV can be imported via numpy

housing = pd.read_csv('../datasets/kc_house_data.csv')
# print(type(housing), housing)
# print(housing.loc[:3,"date"])

print(housing.loc[:3,"price"])
price = np.array(housing.loc[:, "price"], np.int16)
print(price)

0    221900.0
1    538000.0
2    180000.0
3    604000.0
Name: price, dtype: float64
[ 25292  13712 -16608 ...   8885   6784  -2680]